{% extends 'global/base.html' %}

{% block title %} Cut Cats for you{% endblock title %}
{% block content %}

<p class="heading">Cat Machine</p>
<div class="gallery container-fluid mt-0">
  <div class = "row">
  {% for r in res %}
    <div class="col-lg-3 col-md-6">
      <div class = "img-box">
        <img src="{{r.0.url}}" alt="{{r.0.id}}" class='img-fluid'/>
        <div class="transparent-box">
          <div class="caption">
            <p></p>
            <p class="opacity-low"></p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock content %}

